ERP_URL='https://erp.lbrce.ac.in/'
ERP_USERNAME=''
ERP_PASSWORD=''
HEADLESS='true'
ATTENDANCE_THRESHOLD='75'
NOTIFIER_METHOD='telegram'
TELEGRAM_BOT_TOKEN=''
TELEGRAM_CHAT_ID=''

# Optional local-only settings:
# BROWSER_EXECUTABLE_PATH='C:\Program Files\Google\Chrome\Application\chrome.exe'
